<div class="innerBody bodyGrid">
    <div class="title">
        Enter Journey details
    </div>
    <div class="breakdown">
        <div id="cl">
            <div class="header">
                <div class="headerText">
                    Start location and date
                </div>
                <div class="headerIcon" (click)="toggle(0)">
                    <img *ngIf="!oExpanded[0]" src="assets/down.svg">
                    <img *ngIf="oExpanded[0]" src="assets/up.svg">
                </div>
            </div>
            <div [ngClass]="oExpanded[0] ? 'expanded' : 'collapsed'" style="height: 330px">
                <div>
                    <form #currentLocationForm="ngForm" style="position: relative; height: 280px;">
                        <label for="city">Town/City:</label>
                        <input type="text" class="form-control" id="city" [(ngModel)]="current.city" name="city" required>
                        <br>
                        <br>
                        <label for="time">Choose a time for journey start:</label>
                        <br>
                        <input [(ngModel)]="current.time" type="time" name="startTime" required>
                    </form>
                </div>
            </div>
            <div class="underline"></div>
        </div>
        <div id="tl">
            <div class="header">
                <div class="headerText">
                    End location
                </div>
                <div class="headerIcon" (click)="toggle(1)">
                    <img *ngIf="!oExpanded[1]" src="assets/down.svg">
                    <img *ngIf="oExpanded[1]" src="assets/up.svg">
                </div>
            </div>
            <div [ngClass]="oExpanded[1] ? 'expanded' : 'collapsed'" style="position: relative; height: 280px;">
                <form #endLocationForm="ngForm">
                    <label for="streetAddress">City/Town:</label>
                    <input type="text" class="form-control" id="city"
                        [(ngModel)]="end.city" name="city" required>
                </form>
            </div>
            <div class="underline"></div>
        </div>
    </div>
    <app-duo-buttons [redText]="'BACK TO HOME'" [greenText]="'CONTINUE'" [greyed]=checkCoordsSet() (green)="continue()" (red)="backToHome()"></app-duo-buttons>
</div>