<div class="innerBody bodyGrid">
    <div class="title">
        Rate locations
    </div>
    <div>
        <div class="grid">
            <div class="row">
                <div>
                    <p>Attraction name</p>
                </div>
                <div>
                    <p>Attraction Type</p>
                </div>
                <div class="box" style="background-color: red;"></div>
                <div class="box" style="background-color: grey;"></div>
                <div class="box" style="background-color: green;"></div>
            </div>
            <div class="innerGrid">
                <div *ngFor="let page of attractionPages; let i = index" class="row">
                    <div>
                        <p>{{page.name}}</p>
                    </div>
                    <div>
                        <p>{{page.attractionType}}</p>
                    </div>
                    <div>
                        <div [ngClass]="getClass(i, 'never')" (click)="selectChoice(i, 'never')"><p>&#10004;</p></div>
                    </div>
                    <div>
                        <div [ngClass]="getClass(i, 'neutral')" (click)="selectChoice(i, 'neutral')"><p>&#10004;</p></div>
                    </div>
                    <div>
                        <div [ngClass]="getClass(i, 'again')" (click)="selectChoice(i, 'again')"><p>&#10004;</p></div>
                    </div>
                </div>
            </div>
            <div class="paginatorContainer">
                <app-paginator [pageMax]="pageMax" (emitPage)="selectPage($event)"></app-paginator>
            </div>
        </div>
    </div>
    <app-single-button [greenText]="'CONFIRM'" [greyed]="true" (green)="confirm()"></app-single-button>
</div>