.splash {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    height: 100%;
    & div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        &.appTitle {
            font-size: 18px;
            font-weight: bold;
        }
    }
}