<div class="signup-form innerBody">
    <div class="title">{{title}}</div>
    <div class="signup-fields">
        <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()" style="position: relative; height: 440px;">
            <div class="field">
                <div>First Name:</div>
                <input type="text"  formControlName="fname" required>
            </div>
            <div class="field">
                <div>Last Name:</div>
                <input type="text"  formControlName="lname" required>
            </div>
            <div class="field">
                <div>Address Line 1:</div>
                <input type="text"  formControlName="add1" required>
            </div>
            <div class="field">
                <div>Address Line 2:</div>
                <input type="text"  formControlName="add2">
            </div>
            <div class="field">
                <div>City:</div>
                <input type="text"  formControlName="city" required>
            </div>
            <div class="field">
                <div>Post Code:</div>
                <input type="text"  formControlName="postcode" required>
            </div>
            <br>
            <div class="submitter">
                <input type="submit">
            </div>
        </form>
    </div>
</div>