<div class="checklistContainer">
    <div class="checklist">
        <div *ngFor="let page of pages; let i = index" class="pageGrid">
            <div>{{page.entityName}}</div>
            <div>{{page.overallDistance}}km</div>
            <div>
                <div [ngClass]="getClass(i)" (click)="selectChoice(i)"><p>&#10004;</p></div>
            </div>
        </div>
    </div>
    <div class="paginatorContainer">
        <app-paginator [pageMax]="pageMax" (emitPage)="selectPage($event)"></app-paginator>
    </div>
</div>